nav.navbar.navbar-default {
  margin-bottom: 0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

.navbar {
  background-color: #E2D8A3 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #E1694E !important;
  border-radius: 5px;
  color: white !important;
}